.client{
  margin: 0;

  :first-child{ margin-top:    0; }
  :last-child{ margin-bottom:  0; }
}

.client-grid {
  position: relative;
  display: grid;
  grid-gap: 1px;

  grid-template-columns: 1fr;

  @media screen and (min-width: 700px){
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  background-color: $transparency-light; // This is the vertical / horizontal rules
  margin-left: -1rem;
  margin-right: -1rem;

  &:before,
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%; 
    width: 1rem;// should match negative margin
    background-color: $white;
  }

  &:before{ left: 0; }
  &:after{ right: 0; }

  .client{
    padding: 2rem 1rem;
    background-color: $white;
    position: relative;

    &:before,
    &:after{
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      height: 2rem; // should match vertical padding
      background-color: $white;
    }
    
    &:before{ top: 0; }
    &:after{ bottom: 0; }
  }
}

.client-list{
  @extend %sans;
  line-height: 1.8;

  .client{
    display: inline-block;

    &:after{ color: $gray; }

    &:not(:last-child):after{ content: ", "; }
    &:last-child:after{       content: ".";  }
  }
}