html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  // overflow-y: hidden;
  // overflow-x: auto;
  background-color: #000;
}

html, body, script, main{
  margin: 0;
}

*{
  &,
  &:before,
  &:after{
    box-sizing: inherit;
    transition: color            300ms,
                background-color 300ms,
                opacity          300ms,
                box-shadow       300ms;
  }

  & + &{
    margin-top: 1em;
  }
}