html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, script, main{
  margin: 0;
}

*{
  &,
  &:before,
  &:after{
    box-sizing: inherit;
    transition: color            300ms,
                background-color 300ms,
                transform        300ms,
                opacity          300ms;
  }

  & + &{
    margin-top: 1em;
  }
}