// These are things I wish could have been done better. 
// If only I'd let myself use JS...

.section.b-highlight{
  mix-blend-mode: difference;
  position: relative;
  z-index: 8;
}

.section.b-black:before{
  background: rgba(255,255,255,0.1);
}