li{
  margin: 0;

  :first-child{ margin-top:    0; }
  :last-child{ margin-bottom:  0; }
}

.grid-list {
  position: relative;
  display: grid;
  grid-gap: 1px;

  grid-template-columns: 1fr;

  @media screen and (min-width: 700px){
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  background-color: $transparency-light; // This is the vertical / horizontal rules
  margin-left: -1rem;
  margin-right: -1rem;

  &:before,
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%; 
    width: 1rem;// should match negative margin
    background-color: $white;
  }

  &:before{ left: 0; }
  &:after{ right: 0; }

  li{
    padding: 2rem 1rem;
    background-color: $white;
    position: relative;

    &:before,
    &:after{
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      height: 2rem; // should match vertical padding
      background-color: $white;
    }
    
    &:before{ top: 0; }
    &:after{ bottom: 0; }
  }
}

.comma-list{
  @extend %sans;
  line-height: 1.8;

  li{
    display: inline-block;

    &:after{ color: $gray; }

    &:not(:last-child):after{ content: ", "; }
    &:last-child:after{       content: ".";  }
  }
}

.letter-list{
  counter-reset: letters;

  li{
    position: relative;
    
    margin-top: 0;
    padding-left: 31.18%;
    padding-top:    1em;
    padding-bottom: 1em;

    border-top: 1px solid $transparency-light;

    @media screen and (min-width: 700px){
      padding-top:    2em;
      padding-bottom: 3em;
    }

    &:before{
      content: counter(letters, upper-alpha);
      counter-increment: letters;

      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      margin-top: 0;

      font-family: "ltc-bodoni-175", $sans;
      font-size: 4rem;
      color: $black;

      @media screen and (min-width: 700px){
        top: 1rem;
        font-size: 6rem;
      }
    }
  }
}