#logo{
  @extend %sans;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.5px;

  @supports(position: sticky){
    position: sticky;
    top: 0;
    z-index: 7;
  }

  font-size: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -7em;

  @media screen and (min-width: 700px) {
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: -13em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -9em;
    padding: 3rem 1rem 1rem 1rem;
  }

  .wrapper{
    position: relative;
    height: 2.6rem;
    width: 2.6rem*$golden;
    display: inline-block;
  }

  span{
    display: block;
    border: 0.15rem solid $highlight;
    padding: 0.1rem;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    margin: 0;
    transform-style: preserve-3d;
    transition: transform 400ms;
    backface-visibility: hidden;
    
    &:first-child{ 
      transform: rotateX(0deg) rotateY(0deg);
    }
    &:last-child{ 
      transform: rotateX(-180deg);
    }
  }

  &:hover{
    span{
      &:first-child{ 
        transform: rotateX(180deg);
      }

      &:last-child{ 
        transform: rotateX(0deg) rotateY(0deg);
      }
    }
  }

}