.reference{
  *{
    margin: 0;
  }

  .zz-item &{
    position: absolute;
    bottom: 0;
  }
}

.ref-label{
  @extend %sans;
  text-transform: uppercase;
  color: $highlight;
  font-weight: 500;
  font-size: 0.5em;
  letter-spacing: 0.05em;
}
.ref-name{
  @extend %sans;
  font-weight: 500;
  color: $black;
}
.ref-links{
  a{
    display: inline-block;
    ~ a{
      margin-left: 1em;
    }
  }
}