.scale-frame{
  width: calc(100vw - 5rem);
  transform-origin: 0 0;
  transform: scale(0.5);

  @media screen and (min-width: 1200px){
    width: calc(100vw - (5rem + 8rem) );
  }

  // Maintain aspect ratio
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }
  > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  border: 1px solid $dark;
  box-shadow: 0 0 0 0 transparent;
  &:hover{
    box-shadow: 0 0 0 5px $transparency;
  }
}