.scale-frame{
  width: 100%;

  @media screen and (min-width: 700px){
    // width: 100% / 5;
    
  }

  // Maintain aspect ratio
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }
  > iframe {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: scale-down;
  }
  
  border: 1px solid $dark;
  box-shadow: 0 0 0 0 transparent;
  &:hover{
    box-shadow: 0 0 0 5px $transparency;
  }
}