$highlight: #f33;

$black:     #000;
$gray:      rgba(0,0,0,0.4);
$light:     #f6f6f6;
$white:     #fff;

$colors: (
  highlight: $highlight,
  black:     $black,
  gray:      $gray,
  light:     $light,
  white:     $white,
);