$highlight: #f33;

$black:     #000;
$dark:      #7f7f7f;
$gray:      #aaa;
$light:     #f6f6f6;
$white:     #fff;

$transparency:            rgba(0,0,0,0.35);
$transparency-light:      transparentize( $transparency, 0.25 );

$colors: (
  highlight: $highlight,
  black:     $black,
  dark:      $dark,
  gray:      $gray,
  light:     $light,
  white:     $white,

  transparency:           $transparency,
  transparency-light:     $transparency-light,
);

$golden: 1.618;

$sans: 'akzidenz-grotesk', cursive, helvetica, sans-serif;
$serif: "adobe-garamond-pro", cursive, "Adobe Garamond Pro", garamond, georgia, serif;