.swapper{
  margin: 0;

  > * {
    position: relative;
    left: 0;
    right: 0;
    height: 100vh;
    white-space: nowrap;
    z-index: 1;

    margin-top: 0;
  }

  > :last-child{
    &:before{
      content: "";
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to bottom, 
        rgba($white, 0) 0%, 
        rgba($white, 0) 30%, 
        $white 90%
      );
    }

    @media screen and (min-width: 1200px){
      &:after{
        content: "";
        z-index: 3;
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        height: 6rem;
        background: linear-gradient(to bottom, $white, rgba($white, 0));
      }
    }
  }

  .clip{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    clip: rect(0, auto, auto, 0);
  }

  h1{
    position: fixed;
    top: 50%;
    left: 1em;
    margin: 0;
    transform: translateY(-50%);

    font-size: 5vw;
  }
}