html{
  font-size: 100%;

  @media screen and (min-width: 700px){
    font-size: 125%;
  }
}

body{
  @extend %serif;
  font-size: 1rem;
  line-height: $golden;

  @media screen and (min-width: 700px){
    line-height: 1.5;
  }
}

h1, h2, h3{
  @extend %sans;
  line-height: 1.35;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 4px;
  letter-spacing: -0.02em;
  & + p {
    margin-top: 0;
  }
}

h1{ font-size: 3.5em; }
h2{ font-size: 1.5em; }
h3{ 
  font-size: 1em; 
  margin-top: 0;
}

h4{
  @extend %serif;
  position: relative;
  font-style: italic;
  color: $transparency;
  margin-top: 1.5em;
  margin-bottom: 4px;

  &:after{
    opacity: 0.25;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid currentColor;
  }
}

p{
  strong{
    @extend %sans;
    font-weight: 500;
    font-size: 0.8em;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

.title{
  color: $highlight;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1.1;
}

// Readability container
.text{
  max-width: 38em;
}

%sans, .sans{
  font-family: "AkzidGrtskNext-ExtraLight", "akzidenz-grotesk bq", helvetica; // Cursive, so if it doesn't load, I'LL KNOW.
}

%serif, .serif{
  font-family: "Adobe Garamond Pro", garamond, georgia, serif;
}