// Makes an alternating layout
.zigzag{
  display: grid;
  grid-auto-rows: minmax(30vh, auto);
  grid-row-gap: 3em;

  // Assumes the item only has two direct children
  .zz-item{
    margin: 0;
    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2em;
      align-items: center;

      > *{
        margin: 0;
        position: relative;
      }

      // Even items
      &:nth-of-type(2n){
        > :nth-child(2){
          order: -1;
        }
      }
    }

  }
  
}